.createAccount {
  text-align: center;
  padding: 30px;
  background: #BADA55;
  border: 5px solid rebeccapurple;
  width: 150px;
  margin: auto;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: blue;
}

h1 {
  
  color: olive;
}